PRIVATE_KEY_DEPLOY=470dadab23104c23848946fad267ae03bbc3eacfe13880f7ef6a43522f7e0d0e

CONSTANTS_FILENAME="Base.json"
OUTPUT_FILENAME="Base.json"

BASE_RPC_URL=https://mainnet.base.org
BASE_SCAN_API_KEY=
BASE_ETHERSCAN_VERIFIER_URL=https://api.basescan.org/api

BASE_GOERLI_RPC_URL=
BASE_GOERLI_SCAN_API_KEY=
BASE_GOERLI_ETHERSCAN_VERIFIER_URL=https://api-goerli.basescan.org/api

TENDERLY_RPC_URL=

FORK_BLOCK_NUMBER=3161469
